﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="iTanker.Site1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js">
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <title>iTanker App</title>
    <meta name="description" content="Student App">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
    <%--  <link rel="stylesheet" href="css/themes/deepblue.css">--%>
    <%--<link rel="stylesheet" href="css/themes/navdeepGray.css">--%>
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Related styles of various javascript plugins -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->
    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="css/themes.css">
    <!-- END Stylesheets -->
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="js/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
    <!-- Excanvas for canvas support on IE8 -->
    <!--[if lte IE 8]><script src="js/helpers/excanvas.min.js"></script><![endif]-->
    <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>        !window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>
    <!-- Bootstrap.js -->
    <script src="js/vendor/bootstrap.min.js"></script>
    <!-- Jquery plugins and custom javascript code -->
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <link id="lnkprimary" rel="stylesheet" type="text/css" runat="server" />
    <link id="lnksecondary" rel="stylesheet" type="text/css" runat="server" />
    <link rel="stylesheet" href="css/empty.css">
    <!-- Javascript code only for this page -->
     <script type="text/javascript">
         function codeAddress() {
             var d = new Date();
             document.getElementById("curnyear").innerHTML = d.getFullYear();
         }
         window.onload = codeAddress;
    </script>
</head>
<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <!-- Page Container -->
    <div id="page-container">
        <!-- Header -->
        <!-- Add the class .navbar-fixed-top or .navbar-fixed-bottom for a fixed header on top or bottom respectively -->
        <!-- <header class="navbar navbar-inverse navbar-fixed-top"> -->
        <!-- <header class="navbar navbar-inverse navbar-fixed-bottom"> -->
        <header class="navbar navbar-inverse navbar-fixed-top">
                <!-- Mobile Navigation, Shows up  on smaller screens -->
                <ul class="navbar-nav-custom pull-right hidden-md hidden-lg">
                    <li class="divider-vertical"></li>
                    <li>
                        <!-- It is set to open and close the main navigation on smaller screens. The class .navbar-main-collapse was added to aside#page-sidebar -->
                        <a href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
                <!-- END Mobile Navigation -->

                <!-- Logo -->
                <a href="#" class="navbar-brand"><img src="img/template/minoral-logo.png" alt="logo"></a>

                <!-- Loading Indicator, Used for demostrating how loading of widgets could happen, check main.js - uiDemo() -->
                <div id="loading" class="pull-left"><i class="fa fa-certificate fa-spin"></i></div>
                <!-- Header Widgets -->
                <!-- You can create the widgets you want by replicating the following. Each one exists in a <li> element -->
                <ul id="widgets" class="navbar-nav-custom pull-right">
                    <!-- Just a divider -->
                    <li id="rss-widget" class="dropdown dropdown-left-responsive">
                        
                          <asp:DropDownList ID="ddlCompany" CssClass="select-chosen"  runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlCompany_SelectedIndexChanged"> 
                            </asp:DropDownList>
                            
                            <asp:DropDownList ID="ddlLocation" CssClass="select-chosen" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlLocation_SelectedIndexChanged">
                            </asp:DropDownList>
                    </li>
                   
                   
                   <li class="divider-vertical"></li>

                    <!-- RSS Widget -->
                    <!-- Add .dropdown-left-responsive class to align the dropdown menu left (so its visible on mobile) -->
                    <li id="Li1" class="dropdown dropdown-left-responsive">
                        
                       <asp:LinkButton ID="lnklogout" runat="server" onclick="lnklogout_Click"><i class="gemicon-small-power gemicon-small-white"></i></asp:LinkButton>                  
                    </li>
                    <!-- END RSS Widget -->

                    <li class="divider-vertical"></li>
                    <!-- END User Menu -->
                </ul>
                
                <!-- END Header Widgets -->
            </header>
        <!-- END Header -->
        <!-- Inner Container -->
        <div id="inner-container">
            <!-- Sidebar -->
            <aside id="page-sidebar" class="collapse navbar-collapse navbar-main-collapse">
                   
                    <nav id="primary-nav" style="">
                        <ul id="navigation" runat="server" style="padding: 0px;">
                            <li><a href="#"><i class="fa fa-fire"></i>Dashboard</a></li>
                            <li>
                                <a href="#"><i class="fa fa-th-list"></i>Master</a>
                                <ul>
                                    <li><a id="litankertype" href="TankerType.aspx"><i class="fa fa-money"></i>Tanker</a></li>
                                     <li><a id="livendor" href="Vendor.aspx"><i class="fa fa-briefcase"></i>Vendor</a></li>
                                      <li><a id="livehicle" href="Vehicle.aspx"><i class="fa fa-cab"></i>vehicle</a></li>
                                </ul>
                            </li>

                           
                            <li>
                                <a href="#"><i class="fa fa-cogs"></i>Transaction</a>
                                <ul>
                                    <li>
                                        <a id="livehiclesystem" href="VehicleSystem.aspx"><i class="fa fa-certificate animation-pulse"></i>Vehicle System</a>
                                    </li>
                                </ul>
                            </li>
                            
                             <li>
                                <a href="#"><i class="fa fa-stack-exchange"></i>Web Service</a>
                                <ul>
                                    <li>
                                        <a id="a1" href="iTankerWebserivce.asmx"><i class="fa fa-mobile"></i>Services</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div style="display: none">
                    <div id="theme-options" class="text-left visible-md visible-lg" style="display: none;">
                        <a href="javascript:void(0)" class="btn btn-theme-options open"><i class="fa fa-cog"></i> Theme Options</a>
                        <div id="theme-options-content" style="display: block;">
                            <h5>Color Themes</h5>
                            <ul class="theme-colors clearfix">
                                <li>
                                    <a href="javascript:void(0)" class="themed-background-Red themed-border-Red" data-theme="default" data-toggle="tooltip" title="" data-original-title="Red"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="themed-background-Orange themed-border-Orange" data-theme="css/themes/deepblue.css" data-toggle="tooltip" title="" data-original-title="Orange"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="themed-background-black themed-border-black" data-theme="css/themes/deepwood.css" data-toggle="tooltip" title="" data-original-title="black"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="themed-background-Midnight themed-border-Midnight" data-theme="css/themes/deeppurple.css" data-toggle="tooltip" title="" data-original-title="Midnight"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="themed-background-Olive themed-border-Olive" data-theme="css/themes/deepgreen.css" data-toggle="tooltip" title="" data-original-title="Olive"></a>
                                </li>
                            </ul>
                            <h5>Header</h5>
                            <label id="topt-fixed-header-top" class="switch switch-success" data-toggle="tooltip" title="" data-original-title="Top fixed header"><input type="checkbox"><span></span></label>
                            <label id="topt-fixed-header-bottom" class="switch switch-success" data-toggle="tooltip" title="" data-original-title="Bottom fixed header"><input type="checkbox"><span></span></label>
                            <label id="topt-fixed-layout" class="switch switch-success" data-toggle="tooltip" title="" data-original-title="Fixed layout (for large resolutions)"><input type="checkbox"><span></span></label>
                        </div>
                    </div>
                    
                    <div id="Div1" class="text-left visible-md visible-lg" style="display: none;">
                        <a href="javascript:void(0)" class="btn clssecondary open" id="secondary"><i class="fa fa-cog"></i> Secondary Theme</a>
                        <div id="theme-options-content-secondary" style="display: block;">
                            <h5>Secondary Color Themes</h5>
                            <ul class="theme-colors clearfix">
                                <li>
                                    <a href="javascript:void(0)" class="themed-background-black themed-border-black" data-theme="secondary,css/themes/navdeepGray.css" data-toggle="tooltip" title="" data-original-title="black"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="themed-background-white themed-border-white" data-theme="secondary,css/themes/navdeepWhite.css" data-toggle="tooltip" title="" data-original-title="white"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="themed-background-gold themed-border-gold" data-theme="secondary,css/themes/navdeepGold.css" data-toggle="tooltip" title="" data-original-title="gold"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="themed-background-chalk themed-border-chalk" data-theme="secondary,css/themes/navdeepChalk.css" data-toggle="tooltip" title="" data-original-title="chalk"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </aside>
            <!-- END Sidebar -->
            <!-- Page Content -->
            <div id="page-content">
                <asp:ContentPlaceHolder ID="Content" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <!-- END Page Content -->
            <!-- Footer -->
            <footer>                    
                    <p>Developed and Maintained by <a href="http://www.i2isoftwares.com/">i2i Softwares Pvt. Ltd.,</a> &copy; <span><label id="curnyear"></label></span>  
                    <d style="float:right;font-size:12px;font-weight:bold;">Version : <asp:Literal ID="llvno" runat="server"></asp:Literal></d> 
                    </p> 
                </footer>
            <!-- END Footer -->
        </div>
        <!-- END Inner Container -->
        <a href="javascript:void(0)" id="to-top"><i class="fa fa-chevron-up"></i></a>
    </div>
    </form>
</body>
</html>
